.navbar {
    grid-area: navbar;
    padding-top: 50px;
    border: 1px solid blue;
    
    
}


.menu {
    list-style-type: none;
    padding-left: 20px;
    
}

.link{
    text-decoration: none;
    color: #fff;
    
}

.item + .item {
    padding-top: 30px;
}

.item:nth-child(4){
    padding-bottom: 90px;
}